@font-face {
    font-family: "PRIMARY_FONT";
    src: url(<PRIMARY_FONT>);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SECONDARY_FONT";
    src: url(<SECONDARY_FONT>);
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    user-select: none;
    overflow-wrap: break-word;
    --bg-color: <BG_COLOR>;
    --bg-image: url(<BG_IMAGE>);
}

body {
    font-family: "PRIMARY_FONT";
    background-image: var(--bg-image);
    background-size: cover;
    background-position: bottom;
    color: #fce8f6;
    height: 100vh;
    overflow: hidden;
}

button,
input {
    color: #fce8f6;
}

.fake-body {
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-top: 1em;
}

.container {
    background-color: var(--bg-color);
    padding: .25em;
    display: grid;
    border: .2em solid color-mix(in srgb, var(--bg-color), black 40%);
}

.version-container {
    margin: 0 20px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 4%;
    width: 25%;
}

.subtitle-container {
    background-color: var(--bg-color);
    border: 0;
    padding: 2%;
    justify-content: center;
    display: flex;
    margin-bottom: 5%;
    height: 11vh;
    align-items: center;
    text-align: center;
    overflow-wrap: anywhere;
    font-family: "SECONDARY_FONT";
}

.subtitle-container h1 {
    font-size: min(4vw, 4vh);
    font-weight: normal;
}

.confirm-yes {
    font-family: "SECONDARY_FONT";
    font-weight: normal;
    background-color: #d95248;
    padding: 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    border: 0;
}

.confirm-no {
    font-family: "SECONDARY_FONT";
    font-weight: normal;
    background-color: #073c17;
    padding: 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    border: 0;
}

.install-button {
    font-family: "SECONDARY_FONT";
    font-weight: normal;
    background-color: #073c17;
    padding: 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    border: 0;
}

.uninstall-button {
    font-family: "SECONDARY_FONT";
    font-weight: normal;
    background-color: #d95248;
    padding: 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    border: 0;
}

.install-button:disabled {
    cursor: default;
    color: gray;
}

.uninstall-button:disabled {
    cursor: default;
    color: gray;
}

.pack-uninstall {
    font-family: "PRIMARY_FONT";
    font-weight: normal;
    color: #d95248;
    background-color: transparent;
    padding: .25em;
    text-align: center;
    font-size: 100%;
    cursor: pointer;
    border: 0;
    text-decoration: underline;
}

.pack-uninstall:hover {
    background-color: #dd9c97;
}

.feature-list {
    margin-bottom: 1em;
}

.feature-list input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #d95248;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: .1em solid black;
    display: grid;
    place-content: center;
}

.feature-list input[type="checkbox"]::before {
    content: "";
    width: .8em;
    height: .8em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: currentColor;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.feature-list input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.feature-list input[type="checkbox"]:checked {
    background-color: #073c17;
}

.feature-list label {
    display: grid;
    grid-template-columns: 1em auto;
    align-items: center;
    column-gap: 1em;
}

.feature-list {
    width: 100%;
}

.credits {
    overflow: auto;
    max-height: 60vh;
    direction: rtl;
}

.credits-inner {
    direction: ltr;
}

.credits-button {
    font-family: "PRIMARY_FONT";
    width: 2vw;
    background-color: #073c17;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin-bottom: 2%;
    cursor: pointer;
    border: .1em solid black;
    height: 2vw;
    margin-right: 2%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.info-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

select,
option {
    font-family: "PRIMARY_FONT";
}

#settings {
    display: flex;
    flex-direction: column;
}

#save {
    margin-top: auto;
}

#launcher-select {
    width: 100%;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    color: #fce8f6;
}

.label {
    display: flex;
    height: 2vw;
}

.label span {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

li {
    overflow-wrap: anywhere;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fce8f6;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 100%;
    left: 7%;
    pointer-events: none;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.custom-multimc-button {
    margin-top: .25em;
    padding: .25em;
    font-family: "PRIMARY_FONT";
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .25em;
    height: 6vh;
}

.toolbar>* {
    margin-right: 1em;
}

.toolbar-button {
    font-family: "PRIMARY_FONT";
    background-color: #073c17;
    padding: .25em;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 100%;
    cursor: pointer;
    border: .1em solid black;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    transition: height 0.2s;
}

.toolbar-button:disabled {
    height: 2em;
    background-color: #007d26;
    color: currentColor;
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination>* {
    margin-left: .25em;
    width: 100%;
}

img {
    height: inherit;
}

.modal {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: var(--bg-color);
    color: #fce8f6;
    border: .2em solid color-mix(in srgb, var(--bg-color), black 40%);
    z-index: 2;
    max-width: 50%;
    margin: 0;
    padding: 1em;
}

.modal-button-layout {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.modal-backdrop {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #8f8f8f;
    opacity: .5;
    z-index: 1;
}

.modal-title {
    margin: 0;
}

.modal-button {
    font-family: "PRIMARY_FONT";
    background-color: #073c17;
    padding: .25em;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    border: .1em solid black;
    height: 1.5em;
    width: 45%;
}

.modal-contents {
    padding: 1em;
}

.error-area {
    resize: none;
    width: 100%;
}

.cancel {
    background-color: #d95248;
}

ul {
    display: grid;
    gap: .5em;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
}


progress::before {
    content: attr(value) ' / ' attr(max);
    position: relative;
    top: 100%;
}

@keyframes progress-anim {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

.progress-status {
    margin-top: 1.5em;
}

.progress-status::after {
    content: "";
    animation-name: progress-anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}