@font-face {
    font-family: "minecraft";
    src: url("assets/MinecraftRegular-Bmg3.otf");
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "minecraft";
    background-color: #4d3d62;
    height: 99vh;
}

.fake-body {
    display: flex;
    justify-content: center;
    height: 50%;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.header-inner {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    background-color: #7edaf7;
    border: 2px solid black;
    width: 80%;
}

.container {
    background-color: #7edaf7;
    border: 2px solid black;
    padding: 2%;
    display: grid;
    margin-bottom: 2%;
}

.version-container {
    margin: 0 20px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 4%;
    display: grid;
    width: 25%;
}

.version-inner-container {
    margin-right: 2%;
    margin-left: 2%;
    background-color: #2a3751;
    border: 2px solid black;
    padding: 2%;
    display: grid;
}

.subtitle-container {
    background-color: #7edaf7;
    border: 2px solid black;
    padding: 2%;
    justify-content: center;
    display: flex;
    margin-bottom: 5%;
}

.install-button {
    font-family: "minecraft";
    background-color: #48d95a;
    padding: 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    border: 2px solid black;
}

.feature-list input[type="checkbox"] {
    margin-right: 5px;
}

.feature-list label {
    display: block;
    margin-bottom: 10px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.credits {
    overflow: auto;
    max-height: 25vh;
}

.credits-button {
    font-family: "minecraft";
    background-color: #47d195;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin-bottom: 2%;
    cursor: pointer;
    border: 2px solid black;
}